<!DOCTYPE html>
<html>

<head>
    <title>Express</title>
    <link rel="stylesheet" href="cssFiles/css/bootstrap.min.css">
</head>

<body>
    <h1> About me</h1>
    <a href="/homeTest" class="btn btn-warning">Home Test</a>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Name</td>
                        <td>Old</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Rafisahendra</td>
                        <td>25</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>